[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tts_mos_test_mturk = {editable = true, path = "."}
autopep8 = "*"
pylint = "*"
pycodestyle = "*"
isort = "*"
rope = "*"
pytest = "*"
autoflake = "*"
twine = "*"
build = "*"
tox = "*"

[packages]
numpy = "*"
pandas = "*"
tqdm = "*"
boto3 = "*"
boto3-stubs = {extras = ["mturk"], version = "*"}
ordered-set = ">=4.1.0"
mean-opinion-score = "==0.0.1"
matplotlib = "*"

[requires]
python_version = "3.11"
